/* contents */
.btn_guide{display:inline-block;font-size:rem(16);padding:rem(15) rem(30);border:1px solid #ddd;}
img.data_img{position:absolute;top:0;left:0;width:100%;height:100%;object-fit: cover;object-position:50% 50%;vertical-align: top;}
.getdata_list{
    margin-top:rem(6);
    > li{
        border-bottom:1px solid #d7d7d7;padding:rem(20) rem(16);
        &:last-of-type{}
        &.nodata_li{
            padding:rem(150) rem(16)
        }
    }
}
.nodata_para{color:#a8a8a8;text-align: center;font-size:rem(16);line-height:1.5;}
.getdata_item{}
.getdata_title{font-size:rem(15);color:#323232;font-weight:500;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 1;overflow: hidden;line-height:1.3;}
.getdata_else_wrap{margin-top:rem(10);display:flex;flex-wrap:wrap;}
.getdata_else{font-size:rem(11);color:#a8a8a8;line-height:1;display:inline-block;font-family: 'Montserrat','Noto Sans KR'; font-family: 'Montserrat Medium';}
.view_skin_wrap{
    
}

.view_title_row{
    padding:rem(22) rem(16) rem(16);border-bottom:1px solid #d7d7d7;background:#ffffff;
    .getdata_else_wrap{margin-top:rem(8);}
    .getdata_else{}
}
.view_title{font-size:rem(15);color:#323232;font-weight:500;}
.view_data_row{
    padding:rem(18) rem(16);font-size:rem(14);color:#323232;word-break: break-all;
    *{word-break: break-all;}
    img{width:auto !important;height:auto !important;max-width:100% !important;}
}
.terms_wrap{padding:rem(23) 0 0 0}
.terms_item{
    margin-bottom:rem(45);
    &:last-of-type{margin-bottom:0;}
}
.terms_title{font-size:rem(17);color:#323232;font-weight:700;line-height:1.3;}
.terms_content{margin-top:rem(22);}
.terms_para{
    color:#323232;font-size:13px;margin-bottom:rem(30);line-height:1.7;
    &:last-of-type{margin-bottom:0;}
}
.middle_wbox_group{margin-top:rem(60);}
.middle_wbox{
    background:#fff;border-radius:rem(15);padding:rem(32) rem(24);
    &:last-of-type{}
}
.cirdot_list{
    font-size:rem(15);color:#323232;line-height:1;
    > li {
        position:relative;padding-left:rem(19);margin-bottom:rem(21);
        &:before{display:block;content:'';width:rem(11);height:rem(11);border-radius:100%;width:rem(4);height:rem(4);border:rem(4) solid #e6b2c1;position:absolute;top:rem(5);left:0;background:#fff;}
        &:last-of-type{margin-bottom:0;}
    }
}
.cirdot_sig{font-weight:500;line-height:1.4;}
.cirdot_sub_g{margin-top:rem(5);line-height:1.4;}
.cirdot_sub{}
.dash_list{
    > li {
        margin-bottom:rem(10);position:relative;padding-left:rem(9);
        &:before{display:block;content:'-';position:absolute;top:0;left:0;}
        &:last-of-type{margin-bottom:0;}
    }
}
.vertical_box_group{}
.vertical_box{
    border-bottom:rem(6) solid #f3f3f3;padding:rem(20) rem(16);
    &.type2{
        padding:rem(28) rem(27);
    }
    &:last-of-type{border-bottom:0;}
    .btn_box_group{margin-top:rem(16);}
}
.profile_item{
    display:flex;align-items: center;
}
.profile_thum{
    position:relative;margin-right:rem(14);flex:0 0 rem(48);width:rem(48);height:rem(48);border-radius:100%;border:1px solid #ab0033;overflow:hidden;
    > img{}
}
.profile_spec_group{flex:1;min-width:0;display:flex;align-items: center;
    > *{margin-right:rem(9);
        &:last-child{margin-right:0;}
    }
}
.profile_name{display:inline-block;max-width:100%;vertical-align:middle;font-weight:700;color:#323232;font-size:rem(18);display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 1;overflow: hidden;line-height:1.3;}
.box_mark{
    display:inline-block;white-space:nowrap;vertical-align:middle;background:#ddd;color:#fff;font-weight:500;font-size:rem(12);border-radius:rem(6);padding:rem(5) rem(7);line-height:1;
    &.primary{background-color:#bc335c;}
}
.btn_only_ico{
    display:inline-block;width:rem(16);height:rem(16);background:url("../images/ico_help.png") no-repeat 0 0/100% auto;vertical-align:middle;
    &.ico_qus{}
}

.btn_box{display:block;text-align: center;border-radius:rem(8);background:#fbf2f5;font-size:rem(16);color:#ab0033;font-weight:500;padding:rem(17) rem(17) rem(18);line-height:1;}
.vbox_title_row{}
.vbox_title{font-size:rem(16);font-weight:700;color:#323232;line-height:1;}
.vbox_content_row{margin-top:rem(10);}
.liquid_item_list{
    > li{
        border-bottom:1px solid #d7d7d7;
        &:last-of-type{}
    }
}
.liquid_item{
    display:block;padding:rem(20) rem(30) rem(20) 0;position:relative;font-size:0;line-height:0;
    &:after{
        display:block;content:'';width:rem(24);height:rem(24);background:url("../images/ico_link.png") no-repeat 0 0/100% auto;position:absolute;top:50%;right:0;transform: translateY(-50%);border-radius:100%;
    }
}
.liquid_text{display:inline-block;color:#323232;font-size:rem(14);line-height:1;}
.search_field{flex:1;position:relative;display:flex;overflow:hidden;border-radius:rem(100);background:#f5f5f5;}
input.input_search{flex:1;min-width:0;background:none;height:rem(44);line-height:1;width:100%;font-size:rem(14);color:#323232;padding:0 0 0 rem(23);border:0;-webkit-appearance: none;appearance: none;-webkit-border-radius:0;
    &::-webkit-input-placeholder{color:#8d8d8d;}
    &::-moz-input-placeholder{color:#8d8d8d;}
    &:-ms-input-placeholder{color:#8d8d8d;}
    &::-ms-input-placeholder{color:#8d8d8d;}
    &::input-placeholder{color:#8d8d8d;}
}
.btn_search_submit{flex:0 0 rem(60);display:block;height:rem(44);width:rem(60);flex:0 0 rem(60);background:url("../images/ico_search.png") no-repeat 50% 50%/rem(19) auto;}
.thum_data_list{
    padding:rem(11) 0 rem(30);
    > li {
        padding:rem(17) 0;border-bottom:1px solid #d7d7d7;
        &:last-of-type{border-bottom:0}
        &.nodata_li{
            padding:rem(190) rem(20);
            .nodata_para{font-size:rem(16);color:#a8a8a8;line-height:1.6;}
        }
    }
}
.thum_data_item{
    display:flex;
}
.thum_data_img{
    position:relative;border-radius:rem(14);overflow:hidden;background:#d7d7d7;
    flex:0 0 rem(107);
    height:rem(107);
    > img{}
}
.mark_label{
    display:inline-block;background:#fe7564;font-weight:500;padding:rem(6) rem(10);position:absolute;top:rem(9);left:rem(9);border-radius:rem(100);color:#fff;font-size:rem(14);line-height:1;
    &.type2{background-color:#7fc373;}
}
.thum_data_spec_g{flex:1;min-width:0;margin-left:rem(14);padding-top:rem(4);
    &.type2{
        padding-top:0;display:flex;flex-direction: column;justify-content: center;
        .data_count_list{margin-top:rem(25);}
    }
}
.data_spec_main{
    display:flex;align-items:center;
    .badge{position:relative;top:-1px;flex:0 0 rem(23);margin-left:rem(10);}
    &.type2{
        .spec_main_para{flex:1;min-width:0;}
        .ico_like{flex:0 0 rem(19);margin-left:rem(10);}
    }
}
.ico_like{
    display:inline-block;width:rem(19);height:rem(17);background:url("../images/ico_like.png") no-repeat 0 0/100% auto;
    &.active{background-position:0 100%;}
}
.data_spec_else{font-size:rem(11);font-family: 'Montserrat Regular';color:#a8a8a8;margin-top:rem(9);}
.spec_main_para{font-size:rem(19);color:#323232;font-weight:700;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 1;overflow: hidden;line-height:1.3;}
.badge{
    display:inline-block; width:rem(23);height:rem(23);vertical-align:middle;
    > img{vertical-align: middle;}
}
.data_spec_else_wrap{display:block;margin-top:rem(5);}
.data_spec_main_guide{font-size:rem(12);color:#8d8d8d;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 1;overflow: hidden;line-height:1.3;}
.data_spec_sub{margin-top:rem(9);font-size:rem(13);color:#323232;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 1;overflow: hidden;line-height:1.3;}
.data_count_list{
    display:flex;align-items:center;margin-top:rem(13);font-size:0;line-height:0;
    &.type2{margin-top:rem(16)}
    > li{
        margin-right:rem(9);
        &:last-of-type{margin-right:0;}
    }
}
.data_count_item{
    display:inline-flex;align-items:center;
    &:before{display:block;content:'';width:rem(14);height:rem(14);background:url("../images/ico_data_count.png") no-repeat 0 0/100% auto;margin-right:rem(4);}
    &.ico_01:before{background-position:0 0;}
    &.ico_02:before{background-position:0 50%;}
    &.ico_03:before{background-position:0 100%;}
}
.data_count_text{display:inline-block;font-size:rem(11);color:#a8a8a8;line-height:1;}
.data_result_wrap{padding-top:rem(24);}
.result_list_wrap{margin:rem(27) rem(13) 0;}
.result_title{font-size:rem(16);line-height:1;font-weight:700;margin-bottom:rem(10);}
.result_item_list{
    > li {
        border-bottom:1px solid #d7d7d7;
        &:last-of-type{}
        &.nodata_li{
            padding:rem(100) 0;border-bottom:0;
        }
    }
}
.result_item{display:block;font-size:rem(14);color:#323232;padding:rem(17) rem(17) rem(17) 0;}
.mid_vbox_wrap{}
.mid_vbox{
    border-bottom:rem(6) solid #f3f3f3;padding:rem(20) rem(16);display:block;
    // &:last-of-type{
    //     border-bottom:0;
    // }
}
.get_text_clamp{
    color:#323232;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 3;overflow: hidden;line-height:1.6; font-size:rem(14);
}
.get_text_else_wrap{color:#a8a8a8;font-size:rem(12);margin-top:rem(15);font-weight:500;display:flex;align-items: center;}
.get_text_else_clamp{
    max-width:45%;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 1;overflow: hidden;line-height:1.3;position:relative;box-sizing:border-box;padding:0 rem(5);
    &:before{display:inline-block;content:'‘';position:absolute;top:0;left:0;}
    &:after{display:inline-block;content:'’';position:absolute;top:0;right:0;}
}
.get_text_else_unit{display:inline-block;line-height:1.3;margin-left:rem(2);}
.get_img_box_row{display:flex;flex-wrap:wrap;
    .get_img_box{margin:0 rem(10) rem(16) 0;}
}
.get_img_box{
    position:relative;border-radius:rem(7);width:rem(48);height:rem(39);display:block;overflow:hidden;
    &:last-of-type{}
}
.get_main_writing{}
.writing_title{font-size:rem(17);font-weight:500;color:#323232;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 1;overflow: hidden;line-height:1.3;position:relative;box-sizing:border-box;}
.writing_else_wrap{display:flex;align-items: center;justify-content: space-between;margin-top:rem(10);}
.writing_else{
    display:inline-block;font-size:rem(13);color:#8d8d8d;font-weight:500;line-height:1;
    &.type2{font-size:rem(11);font-weight:400;}
}
.get_sub_writing{display:flex;margin-top:rem(16);}
.writing_tail_spec{flex:1;min-width:0;}
.writing_tail_list{
    > li{
        margin-bottom:rem(14);
        &:last-of-type{margin-bottom:0;}
    }
}
.wtail_item{
    display:flex;align-items:center;
    &:before{display:block;content:'';width:rem(24);height:rem(24);flex:0 0 rem(24);margin-right:rem(5);background:url("../images/ico_text_tail.png") no-repeat 0 0/100% auto;}
    &.ico_01:before{background-position:0 0;}
    &.ico_02:before{background-position:0 50%;}
    &.ico_03:before{background-position:0 100%;}
    &.type2{
        .wtail_text{font-weight:700;font-size:rem(16);}
    }
}
.wtail_text{display:inline-block;color:#323232;font-size:rem(15);}
.writing_tail_img{
    position:relative;flex:0 0 rem(133);width:rem(133);height:rem(100);border-radius:rem(14);overflow:hidden;margin-left:rem(20);
    box-shadow: 0px 2px 13.76px 2.24px rgba(25, 25, 25, 0.06);
    > img{}
}
.btn_submitbox{display:inline-block;font-size:rem(13);color:#ab0033;line-height:1;background:#fdf0f2;border-radius:rem(100);padding:rem(7) rem(15);font-weight:500;}

.login_page{overflow:hidden;display:flex;height:100%;align-items: center;justify-content: center;flex-direction: column;box-sizing: border-box;padding:rem(50) 0;}
.login_logo_row{width:100%;padding-bottom:rem(115);position:relative;
    > *{position:relative;z-index:2;}
    &:after{display:block;content:"";height:100vh;background:url("../images/login_shadow.png") no-repeat 50% 100%/100% auto;position:absolute;bottom:0;left:0;width:100%;}
}
.login_logo_img_w{
    text-align: center;font-size:0;line-height:0;
    > img{max-width:103px;vertical-align: top;}
}
.login_logo_para{text-align: center;font-size:rem(14);color:#8d8d8d;font-weight:500;margin-top:rem(20);}
.login_sns_row{width:100%;padding:rem(58) 0 0;text-align: center;}
.login_sns_label_box{
    display:inline-block;position:relative;font-weight:700;line-height:1;background:#fdf0f2;border-radius:rem(100);position:relative;font-size:rem(14);color:#323232;text-align:center;padding:rem(17) rem(27);
    strong{font-weight:700;color:#ab0033;}
    &:after{display:block;content:'';width:rem(12.66);height:rem(10.66);position:absolute;top:100%;left:50%;transform: translateX(-50%);background:url("../images/bullon_pointer.png") no-repeat 0 0/100% auto;}
}
.login_sns_item_group{display:flex;align-items: center;justify-content: center;margin-top:rem(35);}
.sns_item{
    display:block;margin:0 rem(8);width:rem(53.33);height:rem(53.33);border-radius:100%;background:url("../images/ico_sns.png") no-repeat 0 0/100% auto;
    &.ico_apple{background-color:#323232;background-position:0 0;}
    &.ico_naver{background-color:#4bd333;background-position:0 33.33%;}
    &.ico_kakao{background-color:#ffd33a;background-position:0 66.66%;}
    &.ico_google{background-color:#f5f5f5;background-position:0 100%;}
}

.login_type_wrap{width:100%;max-width:rem(1080);margin:0 auto;text-align: center;}
.login_type_para{text-align: center;color:#1e1e1e;font-weight:700;line-height:1;font-size:rem(18);}
.login_typebox_wrap{}
.login_typebox{
    margin:rem(60) 0 0 0;
    &.type2{
        .login_type_item{
            background-color: #eaf7ef;
            img{}
        }
    }
}
.login_type_maincopy{
    font-size:rem(16);color:#3b3b3b;font-weight:500;margin-bottom:rem(20);
    strong{font-weight:500;color:#ab0033;}
}
.login_type_item_wrap{
    
}
.login_type_item{
    display:block;padding:rem(37) rem(20) rem(24);border-radius:rem(25);background:#fcf9ee;max-width:rem(218);box-sizing:border-box;margin:0 auto;
    > img{max-width:rem(138);}
    &:last-of-type{}
}
.login_type_subcopy{
    color:#323232;font-size:rem(13);font-weight:500;margin-top:rem(28);
    strong{font-weight:700;font-size:rem(14)}
}

/* form */
.form_table_wrap{padding:rem(30) rem(6) 0;}
.form_table{
    > li{
        margin-bottom:rem(20);
        &:last-of-type{margin-bottom:0;}
    }
}
.form_label_row{margin-bottom:rem(10);font-size:0;line-height:0;}
.form_label{
    font-size:rem(14);color:#323232;line-height:1;font-weight:500;display:inline-block;
    &.imp{
        &:after{display:inline-block;color:#ab0033;content:'*';margin-left:rem(5);}
    }
}
.form_content_row{
    line-height:0;font-size:0;
}
input.form_input{
    border:1px solid #d8d8d8;font-family: 'Noto Sans KR';padding:0 rem(14);color:#323232;border-radius:rem(8);height:rem(44);line-height:1;box-sizing:border-box;width:100%;font-size:rem(14);
    &.define_calendar{background:#fff url("../images/ico_calendar.png") no-repeat 100% 50%/rem(32) auto;padding-right:rem(44);}
}

select.form_select{
    width:100%;border:1px solid #d8d8d8;font-weight:500;border-radius:rem(8);font-size:rem(14);height: rem(44);color:#323232;padding: 0 rem(50) 0 rem(14);box-sizing:border-box;font-family: 'Noto Sans KR';border-radius:rem(6);-webkit-border-radius:rem(6);
    background: #fff url("../images/ico_select.png") no-repeat 100% 50%/rem(37) auto;line-height: rem(42);-webkit-appearance:none;-moz-appearance:none;appearance:none;
    &::-ms-value {background: none; color:#323232;}
    &::-ms-expand {display: none;}
    &::-ms-value {
        background: none; 
        color:#323232;
    }
    &.ready{color:#999;}
    &:disabled{background-color:#f7f7f7;color:#999999;;opacity:1;}
}

textarea.form_ta{font-family: 'Noto Sans KR';width:100%;height:rem(100);resize:none;padding:rem(14);border:1px solid #d8d8d8;font-weight:500;border-radius:rem(8);font-size:rem(14);box-sizing: border-box;}
.inline_form{display:flex;align-items: center;margin:0 rem(-6.5);}
.inline_cols{flex:1;margin:0 rem(6.5);}
.inline_cols .form_input{}
.inline_sub{margin-top:rem(10);}
.props_formitem{display:inline-flex;font-size:0;line-height:0;}

input.props_form{
    cursor:pointer;-webkit-appearance: none; appearance: none; -moz-appearance: none; -ms-appearance:none;vertical-align:middle;background:url("../images/ico_formcheck.png") no-repeat 0 0/100% auto;width:rem(15);height:rem(15);border-radius:100%;flex:0 0 rem(15);border:1px solid #a8a8a8;border-radius:100%;
    &:checked{background-position:0 100%;border-color:#ab0033;}  
}
.props_label{
    display:inline-block;position:relative;margin-left:rem(6);cursor:pointer;font-size:rem(13);color:#a8a8a8;line-height:1;display:inline-block;min-height:rem(17);box-sizing:border-box;padding-top:rem(1);
}
input.props_form:checked + .props_label{color:#ab0033;}
.photo_upload_wrap{display:flex;flex-wrap:wrap;margin-top:rem(-10);
    > *{margin:rem(10) rem(10) 0 0;}
}
.photo_upload_form{flex:0 0 rem(84);display:flex;align-items:center;justify-content:center;position:relative;overflow:hidden;width:rem(84);height:rem(84);border-radius:rem(14);background:#f5f5f5;border:1px solid #d8d8d8;box-sizing: border-box;}
.photo_upload_inner{
    &:before{display:block;content:'';width:rem(28);height:rem(24.33);background:url("../images/ico_photo.png") no-repeat 0 0/100% auto;margin:0 auto;}
}
.upload_count_wrap{margin-top:rem(10);font-size:rem(11);color:#323232;text-align:center;line-height:1;font-family: 'Montserrat Medium';text-align: center;}
.upload_count_current,
.upload_count_part,
.upload_count_length{line-height:1;font-size:rem(11);display:inline-block;}
input.upload_file{border:0;position:absolute;top:0;left:0;appearance: none;-webkit-appearance: none;-moz-appearance: none;width:100%;height:100%;cursor: pointer;opacity: 0;}

.upload_data{position:relative;}
.upload_data_img_wrap{
    position:relative;
    overflow:hidden;width:rem(84);height:rem(84);border-radius:rem(14);background:#d7d7d7;box-sizing: border-box;
    > img{}
}
.btn_upload_delete{display:inline-block;position:absolute;top:rem(9);right:rem(9);width:rem(24);height:rem(24);border-radius:100%;background:url("../images/ico_upload_del.png") no-repeat 50% 50%/100% auto;}
.vitem_both{display:flex;justify-content: space-between;align-items: center;padding:0 rem(6);}
.vitem_cols{
    &:last-of-type{}
}
.vitem_in_main{font-size:rem(16);color:#323232;font-weight:500;}
.vitem_in_sub{font-size:rem(13);color:#8d8d8d;margin-top:rem(2)}
.text_obj_list{
    font-size:0;line-height:0;margin:rem(-10) 0;padding:0 rem(6);
    > li{
        &:last-of-type{}
    }
}
.text_obj{padding:rem(10) 0;display:inline-block;font-size:rem(16);color:#323232;font-weight:500;line-height:1;}
.control_props_item{display:inline-block;font-size:0;line-height:0;}
.control_props_label{
    background:#ab0033;border-radius:rem(100);position:relative;display:inline-block;width:rem(46.66);height:rem(26.66);border-radius:rem(100);
    &:after{display:block;content:'';transition:.3s;background:#fff;width:rem(16.33);height:rem(16.33);border-radius:100%;position:absolute;top:50%;left:rem(5.66);transform: translateY(-50%);}
}
input.control_props{-webkit-appearance: none;appearance: none;width:0;height:0;opacity:0;border:0;}
input.control_props:checked{}
input.control_props:checked + .control_props_label{}
input.control_props:checked + .control_props_label:after{left:rem(24)}

/* 공통 popup */
.popup_wrap{position:fixed;top:0;left:0;width:100%;height:100%;z-index:100000;display:none;align-items: center;justify-content: center;min-width:rem(280);overflow:hidden;flex-wrap:wrap;}
.popup_tb_w{position:absolute;top:0;left:0;width:100%;height:100%;overflow:hidden;overflow-y:auto;opacity:0;transition:.4s;z-index:5;}
.popup_tb{
    display:table;width:100%;table-layout: fixed;height:100%;position:absolute;top:0;left:0;z-index:0;
}
.popup_td{
    display:table-cell;vertical-align: middle;padding:rem(25);
}
.bg_dim{position:fixed;top:0;left:0;width:100%;height:100%;background:#000;z-index:1;opacity:0;transition:.4s;}

.popup_box{background:#fff;border-radius:rem(19);box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.07);text-align: center;padding:rem(20) rem(18)}

.popup_wrap.active{display:flex}
.popup_wrap.active.motion .popup_tb_w{opacity:1;transform: translateY(0);}
.popup_wrap.active.motion .bg_dim{opacity:.2;}

.popup_ico_warn{width:rem(51);height:rem(56.33);margin:0 auto rem(22);background:url("../images/ico_warn.png") no-repeat 50% 50%/100% auto;}
.popup_main_copy{font-size:rem(18);color:#1e1e1e;line-height:1;font-weight:700;}
.popup_sub_copy{margin-top:rem(15);font-size:rem(14);color:#838287;font-weight:500;}
.btn_popup_submit_group{margin:rem(26) rem(-3) rem(-3);display:flex;}
.btn_popup_submit{
    color:#323232;line-height:0;font-size:0;background:#f4f0f0;flex:1;min-width:0;display:flex;align-items: center;justify-content: center;min-height:rem(53);border-radius:rem(9);margin:rem(3);box-sizing: border-box;padding:rem(15);
    &.primary{background:#ab0033;color:#fff;}
}
.btn_popup_submit_in{display:inline-block;line-height:1;font-weight:500;font-size:rem(18);}
@media(max-width:1023px){
    
}