/* 공통 선언 */

/* */ 
html:not(.touchmode) ::-webkit-scrollbar {width: 10px;}
html:not(.touchmode) ::-webkit-scrollbar-thumb {background-color: #ccc;border-radius: 10px;background-clip: padding-box;border: 2px solid transparent;}
html:not(.touchmode) ::-webkit-scrollbar-track {background-color: transparent;border-radius: 10px;box-shadow: inset 0px 0px 5px transparent;}
.front_body{height:100%;min-height:100vh;background:#f9f9f9;
    &.bg2{background:#fafafa;}
    &.bg3{background:#fff;}
    &.bg4{background:#fcfcfc;}
}
.page_wrap{position:relative;}
.full_height{min-height:100vh;}
.header_wrap{background:#fff;height:rem(66.66);border-radius:0 0 rem(16) rem(16);box-sizing: border-box;padding:rem(12) rem(16) 0;display:flex;justify-content: space-between;align-items: center;
    position:sticky;top:0;left:0;width:100%;z-index:30;/*overflow:hidden;*/
    box-shadow: 1px 6px 23px -4px rgba(0,0,0,0.1);
    -webkit-box-shadow: 1px 6px 23px -4px rgba(0,0,0,0.1);
    -moz-box-shadow: 1px 6px 23px -4px rgba(0,0,0,0.1);
    &.type2{padding:rem(19) rem(16);height:auto;}
    &.type3{
        display:block;height:auto;padding-top:rem(27);
    }
    &.type4{
        display:block;height:auto;padding:0;
        .header_row_wrap{margin:0}
    }
}
.header_inwrap{display:flex;justify-content: space-between;align-items: center;position:relative;width:100%;}
.header_inlayer{display:flex;justify-content: space-between;align-items: center;z-index:10;position:absolute;top:0;left:0;width:100%;box-sizing: border-box;padding:rem(27) rem(16) 0;}
.header_main{flex:1;min-width:0;font-size:0;line-height:0;}
.header_title{}
.header_title[class*="ico_"]{
    display:inline-flex;align-items:center;
    &:before{display:block;flex:0 0 rem(17.33);margin-right:rem(8);content:'';width:rem(17.33);height:rem(19);background:url("../images/map_bullet.png") no-repeat 0 0/100% auto;}
}
.header_ico_text{display:inline-block;font-size:rem(16.66);line-height:1;font-weight:700;position:relative;top:-1px;color:#3b3b3b;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 1;overflow: hidden;}

.header_title_group{
    display:flex;align-items: center;margin-right:rem(10);
    &.type2{justify-content: center;margin-right:0;
        .header_sub_title{flex:1;min-width:0;padding-right:rem(40.5);text-align: center;}
    }
    &.type3{justify-content: center;margin-right:0;
        .header_sub_title{flex:1;min-width:0;text-align: center;}
    }
    .badge{margin-left:rem(5)}
}
.btn_history_delback{display:block;width:rem(22);height:rem(22);background:url("../images/ico_page_delback.png") no-repeat 50% 50%/rem(10.5) auto;flex:0 0 rem(22);}
.btn_history_back{display:block;width:rem(24);height:rem(24);background:url("../images/btn_history_back.png") no-repeat 50% 50%/rem(6.7) rem(11.33);flex:0 0 rem(24);margin-right:rem(9)}
.header_sub_title{display:inline-block;font-size:rem(16.66);line-height:1;font-weight:700;color:#3b3b3b;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 1;overflow: hidden;}
.header_title_ico{display:inline-block;width:rem(19.33);height:rem(20.33);background:url("../images/docu_bullet.png") no-repeat 0 0/100% auto;margin-right:rem(8);}

.header_else_wrap{
}
.header_else_layer{
    position:absolute;top:50%;transform:translateY(-50%);
    .head_menu_list{margin:0;}
    &.pos_left{left:0;}
    &.pos_right{right:0;}
}
.head_menu_list{
    display:flex;justify-content:flex-end;align-items:center;margin-right:rem(5);font-size:0;line-height:0;
    &.type2{
        > li{margin-right:rem(10);}
    }
    > li{
        margin-right:rem(20);
        &:last-of-type{margin-right:0 !important;}
    }
}
.head_menu{
    display:inline-block;width:rem(22);height:rem(22);background:url("../images/ico_topmenu.png") no-repeat 0 0/100% auto;
    &.ico_search{background-position:0 0;}
    &.ico_list{background-position: 0 rem(-22);}
    &.ico_notice{background-position: 0 rem(-44);}
    &.ico_like{background-position: 0 rem(-66);}
    &.ico_share{background-position: 0 rem(-88);}
    &.ico_call{background-position: 0 rem(-132);}
    &.ico_setting{background-position: 0 100%;}
    &.ico_more{background:url("../images/ico_more66.png") no-repeat 0 0/100% auto;}
}
.head_menu_more{display:inline-block;position:relative;
    .more_box_layer{position:absolute;top:calc(100% + 3px) !important;right:rem(8);}
    &.active{
        .more_box_layer{display:block;}
    }
}

.header_row_wrap{border-top:1px solid #d7d7d7;margin:rem(18) rem(-16) 0;}
.header_tab_list{
    display:flex;align-items:center;justify-content:center;position:relative;overflow:hidden;border-radius:0 0 rem(16) rem(16);
    > li {
        flex:1;min-width:0;position:relative;
        &.active{
            .header_tab{
                border-bottom-color:#ab0033;
                .header_tab_intext{color:#ab0033;font-weight:700;}
            }
        }
    }
    &.type2{
        .header_tab_intext{font-size:rem(14);}
    }
    &.type3{
        .header_tab{padding:rem(10)}
        .header_tab_intext{font-size:rem(13.33);line-height:1.3;}
    }
}
.header_tab{display:flex;align-items:center;justify-content:center;text-align: center;padding:rem(13);border-bottom:rem(4) solid transparent;font-size:0;line-height:0;box-sizing: border-box;min-height:rem(47);}
.header_tab_intext{display:inline-block;color:#a8a8a8;font-weight:500;line-height:1;font-size:rem(16);}

.middle_wrap{padding:0 rem(16) rem(66.66);box-sizing: border-box;
    &.type2{padding-left:0;padding-right:0;}
    &.type3{padding-top:rem(27);}
}
.has_topbg{
    position:relative;
    &:before{display:block;content:'';width:100%;height:rem(20);background:#fff;position:absolute;top:rem(-20);left:0;}
}
.middle_inwrap{}
.bottom_layer_wrap{
    display:block;position:fixed;bottom:0;width:0;width:100%;background:#fff;z-index:50;
    box-shadow: 1px -4px 23px -4px rgba(0,0,0,0.09);
    &.type2{box-shadow:none;background:none;}
}
.bottom_menu_list{
    display:flex;
    > li{
        flex:1;position:relative;height:rem(60);display:flex;align-items:center;justify-content:center;
        &:last-of-type{}
        &.active{
            .bottom_menu{
                &:before{background-position:0 100%;}
                .bottom_menu_text{color:#ab0033;}
            }
            &:after{display:block;content:'';width:rem(22.33);height:rem(3);position:absolute;top:0;left:50%;transform: translateX(-50%);background:#ab0033;border-radius:0 0 rem(100) rem(100)}
        }
    }
}
.bottom_menu{
    display:block;text-align:center;
    &:before{display:block;content:'';width:20px;height:20px;background-repeat:no-repeat;background-position:0 0;background-repeat:no-repeat;background-size:100% auto;margin:0 auto rem(8);}
    &.ico_home:before{background-image:url("../images/ico_main_01.png");}
    &.ico_board:before{background-image:url("../images/ico_main_02.png");}
    &.ico_cart:before{background-image:url("../images/ico_main_03.png");}
    &.ico_chatting:before{background-image:url("../images/ico_main_04.png");}
    &.ico_mydata:before{background-image:url("../images/ico_main_05.png");}
}
.bottom_menu_text{display:block;color:#323232;font-size:11px;line-height:1;font-weight:500;}

.bottom_quickitem_wrap{height:0;position:relative;}

.bottom_quickitem_list{
    position:absolute;bottom:0;right:rem(16);
    &.type2{
        bottom:rem(24);
    }
    > li{
        &:last-of-type{}
    }
}
.bottom_quickitem{display:block;border-radius:100%;width:rem(59);height:rem(59);background:#4857cb url("../images/ico_big_payment.png") no-repeat 50% 50%/100% auto;
    box-shadow: 2.192px 4.494px 16px 0px rgba(30, 30, 30, 0.18);
    &.bg2{
        background-color:#ab0033;
    }
    &.ico_write{
        background-image:url("../images/ico_big_write.png");
    }
}
.bottom_textitem{display:flex;align-items:center;justify-content:center;border-radius:100%;width:rem(59);height:rem(59);background:#cd6d78;
    box-shadow: 2.192px 4.494px 16px 0px rgba(30, 30, 30, 0.18);
}
.bottom_textitem_in{font-size:rem(14);color:#fff;font-size:rem(14);font-weight:700;line-height:1.25;display:block;}

.header_swiper_zone{position:relative;}