@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 300;
  src: local('Noto Sans KR'),
      url('./webfont/NotoSans-Light.woff2') format("woff2");
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 350;
  src: local('Noto Sans KR'),
      url('./webfont/NotoSans-DemiLight.woff2') format("woff2");
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans KR'),
      url('./webfont/NotoSans-Regular.woff2') format("woff2");
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  src: local('Noto Sans KR'),
      url('./webfont/NotoSans-Medium.woff2') format("woff2");
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  src: local('Noto Sans KR'), 
      url('./webfont/NotoSans-Bold.woff2') format("woff2");
}

@font-face {
  font-family: 'Montserrat Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Montserrat Regular'), url('./webfont/Montserrat-Regular.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Montserrat Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Montserrat Italic'), url('./webfont/Montserrat-Italic.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Montserrat Thin';
  font-style: normal;
  font-weight: normal;
  src: local('Montserrat Thin'), url('./webfont/Montserrat-Thin.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Montserrat Thin Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Montserrat Thin Italic'), url('./webfont/Montserrat-ThinItalic.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Montserrat ExtraLight';
  font-style: normal;
  font-weight: normal;
  src: local('Montserrat ExtraLight'), url('./webfont/Montserrat-ExtraLight.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Montserrat ExtraLight Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Montserrat ExtraLight Italic'), url('./webfont/Montserrat-ExtraLightItalic.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Montserrat Light';
  font-style: normal;
  font-weight: normal;
  src: local('Montserrat Light'), url('./webfont/Montserrat-Light.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Montserrat Light Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Montserrat Light Italic'), url('./webfont/Montserrat-LightItalic.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Montserrat Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Montserrat Medium'), url('./webfont/Montserrat-Medium.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Montserrat Medium Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Montserrat Medium Italic'), url('./webfont/Montserrat-MediumItalic.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Montserrat SemiBold';
  font-style: normal;
  font-weight: normal;
  src: local('Montserrat SemiBold'), url('./webfont/Montserrat-SemiBold.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Montserrat SemiBold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Montserrat SemiBold Italic'), url('./webfont/Montserrat-SemiBoldItalic.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Montserrat Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Montserrat Bold'), url('./webfont/Montserrat-Bold.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Montserrat Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Montserrat Bold Italic'), url('Montserrat-BoldItalic.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Montserrat ExtraBold';
  font-style: normal;
  font-weight: normal;
  src: local('Montserrat ExtraBold'), url('Montserrat-ExtraBold.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Montserrat ExtraBold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Montserrat ExtraBold Italic'), url('Montserrat-ExtraBoldItalic.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Montserrat Black';
  font-style: normal;
  font-weight: normal;
  src: local('Montserrat Black'), url('Montserrat-Black.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Montserrat Black Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Montserrat Black Italic'), url('Montserrat-BlackItalic.woff') format('woff');
  }