@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 300;
  src: local('Noto Sans KR'),
      url('./webfont/NotoSans-Light.woff2') format("woff2");
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 350;
  src: local('Noto Sans KR'),
      url('./webfont/NotoSans-DemiLight.woff2') format("woff2");
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans KR'),
      url('./webfont/NotoSans-Regular.woff2') format("woff2");
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  src: local('Noto Sans KR'),
      url('./webfont/NotoSans-Medium.woff2') format("woff2");
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  src: local('Noto Sans KR'), 
      url('./webfont/NotoSans-Bold.woff2') format("woff2");
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');